.App {
  text-align: center;
  margin-top: 1em;
}
#input {
  width: 20em;
  height: 2em;
  font-size: 1em;
}

button {
  width: 10em;
  font-size: 1em;
  height: 2.4em;
  margin-left: 1em;
  background-color: aquamarine;
  border: none;
}

ul {
  margin-inline: auto;
  margin-top: 3em;
  width: 34em;
  text-align: start;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

ul li button {
  width: 5em;
  margin: 0;
}

ul li p {
  width: 70%;
  height: 2.4em;
  font-size: 1em;
  line-height: 2.4em;
  background-color: antiquewhite;
}
